extends ../layout.pug

block content
    form.form-horizontal
        .form-group
            label.control-label(for='diciplina') Nome da Disciplina
            input#diciplina.form-control(type='text')
        .form-group
            label.control-label(for='area') Área
            select#area.form-control
                option(value="HM") Humanas
                option(value="EX") Exatas
                option(value="BL") Biológicas
        .form-group
            label.control-label(for='complexidade') Nível de complexidade
            input#complexidade.form-control(type='text')
        .form-group
            button.btn.btn-default(type='submit') Adicionar Diciplina

    h2.sub-header Section title
    .table-responsive
        table.table.table-striped
            thead
                tr
                    th #
                    th Disciplina
                    th Área
                    th Complexidade
            tbody
                each val, key in subjects
                    tr
                        td= key
                        td= val.name
                        td= val.area
                        td= val.lvl_complexidade