extends ../layout.pug

block content
    form.form-horizontal
        .form-group
            label.control-label(for='diciplina') Nome da Disciplina
            input#diciplina.form-control(type='text')
        .form-group
            label.control-label(for='area') Área
            select#area.form-control
                option(value="HM") Humanas
                option(value="EX") Exatas
                option(value="BL") Biológicas
        .form-group
            label.control-label(for='complexidade') Nível de complexidade
            input#complexidade.form-control(type='text')
        .form-group
            button.btn.btn-default(type='submit') Adicionar Diciplina

    include ../components/table
