extends ../layout.pug

block content
    .row.placeholders
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
    include ../components/table