extends ../layout.pug

block content
    form.form-horizontal
        .form-group
            label.control-label(for='diciplina') Nome do Professor
            input#diciplina.form-control(type='text')
        .form-group
            label.control-label Disciplinas
            - 
                var disciplinas = [
                    'Portugues', 'Matemática', 'História', 'Geografia', 'Química', 'Física', 'Biologia', 'Educação Física', 'Artes', 'Filosofia', 'Inglês'
                ]
            .row
                each dp, index in disciplinas
                    .checkbox.col-md-3
                        label
                            input(type='checkbox', value=index)
                            | #{dp}
        .form-group
            label.control-label Séries
            - 
                var series = [
                    '1º Ano EF', '2º Ano EF', '3º Ano EF', '4º Ano EF', '5º Ano EF', '6º Ano EF', '7º Ano EF', '8º Ano EF', '9º Ano EF', '1º Ano EM', '2º Ano EM', '3º Ano EM'
                ]
            .row
                each sr, index in series
                    .checkbox.col-md-3
                        label
                            input(type='checkbox', value=index)
                            | #{sr}

        .form-group
            label.control-label(for='area') Título
            select#area.form-control
                option(value="HM") Contratado
                option(value="EX") Concursado
                option(value="BL") Substituto
        .form-group
            label.control-label(for='complexidade') Tempo de casa
            input#complexidade.form-control(type='text')
        .form-group
            button.btn.btn-default(type='submit') Adicionar Professor
