//
    Bootstrap core JavaScript
    ==================================================
// Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script.
    window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\\/script>')
script(src='assets/js/bootstrap.min.js')
// Just to make our placeholder images work. Don't actually copy the next line!
script(src='assets/js/vendor/holder.min.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='assets/js/ie10-viewport-bug-workaround.js')