.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
        li.active
            a(href='/')
                | Dashboard 
                span.sr-only (current)
        li
            a(href='/gerar-horarios') Gerar Horários
        
            
    ul.nav.nav-sidebar
        li
            a(href='/disciplinas') Disciplinas
        li
            a(href='/turmas') Turmas
        li
            a(href='/professores') Profesores
        li
            a(href='/horarios') Horários Escolares