doctype html
html(lang='en')
    include partials/head
    body
        include partials/navbar
        .container-fluid
            .row
                include partials/sidebar
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    h1.page-header= title
                    block content
        include partials/footer
        block scripts
